@import "tailwindcss";

@theme {
	--color-background: #f5f4f6;
	--color-foreground: #2e2e2f;
	--color-sky: #006fad;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */

body {
	background: var(--color-background);
	color: var(--color-foreground);
	font-family: Arial, Helvetica, sans-serif;
}
